{% extends "index.html" %}
{% block content %}
<div class="row form-container">
    <div class="col-md-12">
        <form class="justify-content-center" id="resetPwForm" method="POST" action="{{ url_for('resetpassword') }}">
            <div class="form-group">
                <h3 class="comfortaa-font" style="font-weight: bold;">Reset Your Password</h3>
                <p>Please enter your email address below to receive a link to reset your password.</p>
            </div>
            {{ form.hidden_tag() }}
            <div id="reset-pw-form" class="form-half-width form-group">
            {% for field in form if field.widget.input_type != 'hidden' %}
                {% if field.type == "SubmitField" %}
                    {{ field(class="form-submit btn btn-default") }}
                {% else %}
                    {{ field(class="form-control") }}
                {% endif %}
                {% for error in field.errors %}
                    <div class="text-block error">{{error}}</div>
                {% endfor %}   
            {% endfor %}
            </div>
        </form>
    </div>
</div>
{% endblock %}